if user
  .all-assignments.col-sm-offset-2.col-sm-8
    if isNotAssignments
      if isStudent
        p 太棒辣，没有作业！
      else if isTeacher
        p 你还没有发布过作业，快来发布吧～
        .btn.btn-primary.zero_post 发布作业

    else
      .list-group
        each assignments
          ul.list-group-item(id="#{this._id}")
            li(id="#{this._id}") 题目：#{this.title}
            li(id="#{this._id}") 描述：#{this.description}
            li(id="#{this._id}") 截止日期：#{this.deadline}
            li(id="#{this._id}") 要求：#{this.requirement}