if user.identity = 'Student'
  .all-assignments.col-sm-offset-2.col-sm-8
    p 太棒辣，没有作业！

else if user.identity = 'Teacher'
  .all-assignments.col-sm-offset-2.col-sm-8
    if assignments.length <= 0
      p 你还没有发布过作业，快来发布吧～
      .btn.btn-primary.zero_post 发布作业
    else
      .list-group
        each assign in assignments
          a.list-group-item(href='#'+"#{assign._id}")
            ul
              li 题目：#{assign.title}
              li 描述：#{assign.description}
              li 截止日期：#{assign.deadline}
              li 要求：#{assign.require}
