if user
  .all-assignments.col-sm-offset-2.col-sm-8
    if isNotAssignments
      if isStudent
        p 太棒辣，没有作业！
      else if isTeacher
        p 你还没有发布过作业，快来发布吧～
        .btn.btn-primary.zero_post 发布作业

    else
      .list-group
        each assignments
          a.list-group-item(href="##{this._id}")
            ul
              li 题目：#{this.title}
              li 描述：#{this.description}
              li 截止日期：#{this.deadline}
              li 要求：#{this.require}