.main
  .assignment-page
    ul
      li 题目：#{title}
      li teacher: #{authorName}
      li 描述：#{description}
      li deadline: #{deadline}
      li require: #{requirement}
      if isTeacher
        li
          a(href='/assignments/#{url}/homeworks') homeworks
