.main
  .assignment-page
    ul
      li 题目：#{assignment.title}
      li teacher: #{assignment.authorName}
      li 描述：#{assignment.description}
      li deadline: #{assignment.deadline}
      li require: #{assignment.requirement}
      if isTeacher
        li
          a(href='/assignments/#{assignment.url}/homeworks') homeworks

  if overtime
    p.bg-danger
      span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
      | deadline daole

  if isStudent
    .student-homework
      +studentHomework