ul.list-group-item.main
  li name: #{this.authorName}
  li time: #{this.time}
  li content: #{this.content}
  br
  li
    if this.grade
      | 分数: #{this.grade}
    else
      form.form-inline
        .form-group
          label(for='#{this._id}') 分数
          input.form-control(type='number' name='grade' id='#{this._id}' placeholder='分数')
        .form-group
          if overtime
            input.btn.btn-primary(type='submit' value='提交')
          else
            input.btn.btn-primary(type='submit' value='提交' disabled='disabled')
